<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.AttrMapper">
	<insert id="insert_attr" useGeneratedKeys="true" keyColumn="id" keyProperty="attr.id">
		insert into t_mall_attr(shxm_mch,flbh2)
		values
		(#{attr.shxm_mch},#{flbh2})
	</insert>

	<insert id="insert_values">
		insert into t_mall_value(
		shxzh,shxm_id,shxzh_mch
		)
		values
		<foreach collection="list_values" item="val" separator=","> 
			(
			#{val.shxzh},#{attr_id},#{val.shxzh_mch}
			)
		</foreach>
	</insert>
	
	<!-- 根据商品属性表的flbh2去查询商品属性,集合查询 -->
	<select id="get_attr_list">
	
	</select>
</mapper>